button{
    text-transform: none;
    font-weight: 600;
}

.opts label{
    border-radius: 30;
    border-width: 1.5;
    border-color:#F2A950;
    padding: 2,20;
    margin-right: 10;
    color: black;
    font-weight: 500
}




.list label{
color:white
}