.bottom-nav-text{
    font-size: 12;
    font-weight: 200;
}


.navbar label{
    font-size: 20
}



.actionbar button{
    background-color: transparent;
    border-color: transparent;
    box-shadow: transparent !important;
}

.nav label{
    font-size: 16;
    padding: 10 0;
    font-weight: 300
}
